.search-bar {
    width: 90vw;
    display: flex;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: #c8c6c6;
    color: #313335;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    padding: 8px;
}

.search-bar i {
    font-size: 30px;
    color: #49c5b6;
    padding-left: 10px;
}