.sort {
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
    padding: 20px;
    align-items: center;
    width: 90vw;
    margin: auto;
}

.sort i {
    color: #49c5b6;
    padding: 0px 5px;
}

select {
    padding: 5px;
    background: #c8c6c6;
    color: #313335;
}